name: Release to Azure

on:
  push:
    branches:
    - main
  
jobs:
  call_CI_part:
    uses: ./.github/workflows/continuous-integration.yaml
    with:
      action_name: release_azure


  call_CD_azure:
    uses: ./.github/workflows/continuous-deployment.yaml
    needs: 
    - call_CI_part
    with:
      action_name: release_azure
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
      AZURE_RESOURCE_NAME: ${{ secrets.AZURE_RESOURCE_NAME }}
      AZURE_ENVIRONMENT_CODE: ${{ secrets.AZURE_ENVIRONMENT_CODE }}
      AZURE_LOCATION_CODE: ${{ secrets.AZURE_LOCATION_CODE }}
