name: Release to GitHub

on:
  push:
    tags:
    - 'v*'

jobs:
  call_CI_part:
    uses: ./.github/workflows/continuous-integration.yaml
    with:
      action_name: release_github
    
  call_CD_github:
    needs: 
    - call_CI_part
    uses: ./.github/workflows/continuous-deployment.yaml
    with:
      action_name: release_github
      tag: ${{ github.ref }}